*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    scrollbar-width: smooth;
    font-family: 'Times New Roman', Times, serif;
}
:root{
   --bg-color: #191f36;
   --snd-bg-color: #262B40;
   --text-color: #fff;
   --main-color: #59B2F4;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color: var(--bg-color);
    color:var(--text-color);
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/*************header code ************************/

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
   font-size: 3rem;
   color: var(--main-color);
   font-weight: 700;
   cursor: default;
}
.navbar {
    height: 10px;
    min-width: 600px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-around;


}
 a{
    position: relative;
    letter-spacing: 0.5px;
    font-size: 1.9rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
}
a:after {
    content: "";
    position: absolute;
    background-color: #3BAFEA;
    left: 0;
    height: 4px;
    width: 0;
    bottom: -1rem;
    border-radius: 5px;

}
.navbar a:hover:after{
    width: 100%;

}
    


/*************************************home code ************************/

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}
.home-content h3 span {
    position: relative;
}
.home-content span::before {
    content: "UX/UI Developer";
    color: #3BAFEA;
    animation: words 20s infinite;
}
.home-content span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #191f36;
    border-left: 3px solid #fff;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor {
    to {
        border-left: 3px solid #fff;
    }
}

@keyframes words {
    0%,20%{
      content: "UX/UI Developer";
    }
    20%,40%{
      content: "UX/UI Designer";
    }
    40%,60%{
      content: "Frontend Developer";
    }
    60%,80%{
      content: "Web Developer";
    }
    80%,100%{
      content: "app Developer";
    }
    
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95% {
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85% {
        width: calc(100% + 8px);
    }
}

span{
    color: var(--main-color);
}
.home-content{
    order: 2;
}
.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-img img{
    border-radius: 60%;
    border: 8px solid #3BAFEA;
    height: 400px;
    width: 30vw;
    margin: -4%;
    animation: floatImage 4s ease-in-out infinite;
    box-shadow: #3BAFEA  4px 4px;

}
@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-4.4rem);
    }
    100% {
        transform: translateY(0);
    }
}
.home-content p {
    font-size: 1.6rem;
}
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    border-radius: 50px;
    border: 3px solid #59B2F4;
    background: transparent;
}
.social-media a:hover{
     transform: scale(1.0);
     border: 3px solid #59B2F4;
     background-color: white;
}
.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--text-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s;
}
.btn:hover{
    transform: scale(0.9);
}

/********************************about code ***********************/

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background: var(--snd-bg-color);
}
.about-img {
    border-radius: 10px;
    height: 300px;
    width: 40vw;
    border: 3px solid #59B2F4;
}
.heading {
    text-align: center;
    font-size: 4.5rem;
}
.about-content h2 {
     text-align: left;
     line-height: 1.2rem;
}
.about-content h3 {
    font-size: 2.6rem;
}
.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;

}

/*******************************skills code ******************************/

.skills h2 {
    margin-bottom: 5rem;
}
.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.skills-container .skills-box {
    flex: 1 30rem;
    background: var(--snd-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition:  .5d=s ease;
}
.skills-container .skills-box:hover {
    border-color: #59B2F4;
    transform: scale(1.02);
}
.skills-box i {
    font-size: 7rem;
    color: var( #59B2F4);
}
.skills-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

/********************************works code **************************/

.works {
    background: var(--snd-bg-color);
}
.works h2 {
    margin-bottom: 4rem;
}
.works-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}
.works-container .works-card {
    position: relative;
    border-radius: 5rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}
.works-card img{
    width: 100%;
    height: 300px;
    transition: .5s ease;
    opacity: scale(0.7);
}
.works-card:hover img { 
   transform: scale(1.3);
}
.works-card .works-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.1 ) ,var(--main-color));
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.works-card:hover .works-layer {
    transform: translateY(0);
}
.works-layer h4 {
    font-size: 3rem;
}
.works-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}
.works-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}
.works-layer a i{
       font-size: 2rem;
       color: var(--snd-bg-color);
}

/**************************contact code ****************************/

.contact h2 {
    margin-bottom: 3rem;
}
.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}
.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--snd-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    border-radius: 50px ;
    border: 3px solid #59B2F4;

}
.contact form .input-box input{
    width: 49%;
    border: 3px solid #59B2F4;
    border-radius: 50px ;

}
.contact form .input-box input:hover {
    background-color: transparent;
}
.contact form textarea {
    resize: none;
    height: 200px;
}
.contact form textarea:hover {
    background-color: transparent;
}
.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}
/*****************footer code *****************************/
.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem 1rem;
    background: var(--main-color);
    border-radius: .8rem;
    float: right;
}
.footer-iconTop a:hover{
        box-shadow: 0 0 1rem var(--main-color);
}
.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--snd-bg-color);
}

/*BREAKPOINT***/

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
     .heading {
        padding: 2rem 3%;
     }
     section {
        padding: 10rem 3%;
     }
     .skills {
        padding: 7rem;
     }
     .works {
        padding-bottom: 7rem;
     }
     .contact {
        min-height: auto;
     }
     .footer {
        padding: 2rem 3%;
     }
}

@media (max-width:768px) {
   .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: .1rem solid rgba(0, 0, 0, .2 );
    box-shadow: .5rem 1rem rgba(0, 0, 0, .2 );
    display: none;
   }
   .navbar .active {
     display: block;
   }
   .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
   }
   .home {
    flex-direction: column;
   }
   .home-content h3 {
           font-size: 2.6rem;
   }
   .home-content h1 {
    font-size: 5rem;
   }
   .home-img img {
    width: 90vw;
    margin-top: 4rem;
   }
   .about {
    flex-direction: column;
   }
   .about-img img {
    width: 90vw;
    margin-top: 4rem;
   }
   .skills h2 {
    margin-bottom: 3rem;
   }
   .works h2 {
    margin-bottom: 3rem;
   }
   .works-container {
    grid-template-columns: repeat(2,1fr);
   }

}

@media (max-width:617px) {
    .works-container {
        grid-template-columns: 1fr;
    }
    .home-img img {
        width: 80vw;
        margin-top: 8rem;
    }
    .about-img img {
        width: 100vw;
        margin-top: 4rem;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
    .contact form .input-box input {
        width: 100%;
    }
}